.flex-row
{
    flex-direction: row !important;
}

.flex-row-reverse
{
    flex-direction: row-reverse !important;
}

.flex-column
{
    flex-direction: column !important;
}

.flex-column-reverse
{
    flex-direction: column-reverse !important;
}

@include breakpoints() using ( $name, $breakpoint )
{
    @media (min-width: #{$breakpoint})
    {
        #{".flex-" + $name + "-row"}
        {
            flex-direction: row !important;
        }

        #{".flex-" + $name + "-row-reverse"}
        {
            flex-direction: row-reverse !important;
        }

        #{".flex-" + $name + "-column"}
        {
            flex-direction: column !important;
        }

        #{".flex-" + $name + "-column-reverse"}
        {
            flex-direction: column-reverse !important;
        }
    }
}
