.justify-content-start
{
    justify-content: flex-start !important;
}

.justify-content-end
{
    justify-content: flex-end !important;
}

.justify-content-center
{
    justify-content: center !important;
}

.justify-content-between
{
    justify-content: space-between !important;
}

.justify-content-around
{
    justify-content: space-around !important;
}

@include breakpoints() using ( $name, $breakpoint )
{
	#{".justify-content-" + $name + "-start"}
	{
		justify-content: flex-start !important;
	}

	#{".justify-content-" + $name + "-end"}
	{
		justify-content: flex-end !important;
	}

	#{".justify-content-" + $name + "-center"}
	{
		justify-content: center !important;
	}

	#{".justify-content-" + $name + "-between"}
	{
		justify-content: space-between !important;
	}

	#{".justify-content-" + $name + "-around"}
	{
		justify-content: space-around !important;
	}
}
