$border-table: (
    "0": "0",
    "1": "1px",
    "2": "2px",
    "3": "3px",
    "4": "4px",
    "5": "5px"
);

// Borders
:root
{
    --border-color: var(--color-gray);
}

.border
{
    border: 1px solid rgb(var(--border-color)) !important;
}

.border-bottom
{
    border-bottom: 1px solid rgb(var(--border-color)) !important;
}

.border-top
{
    border-top: 1px solid rgb(var(--border-color)) !important;
}

.border-left,
.border-start
{
    border-left: 1px solid rgb(var(--border-color)) !important;
}

.border-right,
.border-end
{
    border-right: 1px solid rgb(var(--border-color)) !important;
}

// Border
@each $name, $value in $border-table
{
    #{".border-" + $name}
    {
        border: #{$value} solid rgb(var(--border-color)) !important;
    }

    #{".border-bottom-" + $name}
    {
        border-bottom: #{$value} solid rgb(var(--border-color)) !important;
    }

    #{".border-top-" + $name}
    {
        border-top: #{$value} solid rgb(var(--border-color)) !important;
    }

    #{".border-left-" + $name},
    #{".border-start-" + $name}
    {
        border-left: #{$value} solid rgb(var(--border-color)) !important;
    }

    #{".border-right-" + $name},
    #{".border-end-" + $name}
    {
        border-right: #{$value} solid rgb(var(--border-color)) !important;
    }
}

@include colors() using ( $color, $value )
{
    .border-#{$color}
    {
        --border-color: #{"var(--color-" + $color + ")"};
    }
}
