// Display
.d-none
{
    display: none !important;
}

.d-block
{
    display: block !important;
}

.d-inline-block
{
    display: inline-block !important;
}

.d-flex
{
    display: flex !important;
}

.d-grid
{
    display: grid !important;
}

@include breakpoints() using ( $name, $breakpoint )
{
    @media (min-width: #{$breakpoint})
    {
        #{".d-" + $name + "-none"}
        {
            display: none !important;
        }

        #{".d-" + $name + "-block"}
        {
            display: block !important;
        }

        #{".d-" + $name + "-inline-block"}
        {
            display: inline-block !important;
        }

        #{".d-" + $name + "-flex"}
        {
            display: flex !important;
        }

        #{".d-" + $name + "-grid"}
        {
            display: grid !important;
        }
    }
}
