/* For mobile users */
@include breakpoint( "sm" ) {
    .container
    {
    }
}

/* Grid */
@include breakpoints() using ( $name, $breakpoint )
{
	@for $i from 1 through $column-width
	{
		.col-#{$name}-#{$i}
		{
			grid-column: span #{$i};
		}

		.col-#{$name}-start-#{$i}
		{
			grid-column-start: #{$i+1};
		}

		.col-#{$name}-end-#{$i}
		{
			grid-column-end: #{$i+1};
		}
	}
}
