/* "CircularStd Book" */
@font-face {
    font-family: "CircularStd";
	font-style: normal;
	font-weight: 400;
    src: url('/assets/fonts/CircularStd-Book.eot');
    src: url("/assets/fonts/CircularStd-Book.woff") format('woff'), url("/assets/fonts/CircularStd-Book.ttf") format('truetype');
}

/* "CircularStd BookItalic" */
@font-face {
    font-family: "CircularStd";
	font-style: italic;
	font-weight: 400;
    src: url('/assets/fonts/CircularStd-BookItalic.eot');
    src: url("/assets/fonts/CircularStd-BookItalic.woff") format('woff'), url("/assets/fonts/CircularStd-BookItalic.ttf") format('truetype');
}

/* "CircularStd Medium" */
@font-face {
    font-family: "CircularStd";
	font-style: normal;
	font-weight: 500;
    src: url('/assets/fonts/CircularStd-Medium.eot');
    src: url("/assets/fonts/CircularStd-Medium.woff") format('woff'), url("/assets/fonts/CircularStd-Medium.ttf") format('truetype');
}

/* "CircularStd MediumItalic" */
@font-face {
    font-family: "CircularStd";
	font-style: italic;
	font-weight: 500;
    src: url('/assets/fonts/CircularStd-MediumItalic.eot');
    src: url("/assets/fonts/CircularStd-MediumItalic.woff") format('woff'), url("/assets/fonts/CircularStd-MediumItalic.ttf") format('truetype');
}

/* "CircularStd Bold" */
@font-face {
	font-family: "CircularStd";
	font-style: normal;
	font-weight: 600;
    src: url('/assets/fonts/CircularStd-Bold.eot');
    src: url("/assets/fonts/CircularStd-Bold.woff") format('woff'), url("/assets/fonts/CircularStd-Bold.ttf") format('truetype');
}

/* "CircularStd BoldItalic" */
@font-face {
	font-family: "CircularStd";
	font-style: italic;
	font-weight: 600;
    src: url('/assets/fonts/CircularStd-BoldItalic.eot');
    src: url("/assets/fonts/CircularStd-BoldItalic.woff") format('woff'), url("/assets/fonts/CircularStd-BoldItalic.ttf") format('truetype');
}

/* "CircularStd Black" */
@font-face {
	font-family: "CircularStd";
	font-style: normal;
	font-weight: 700;
    src: url('/assets/fonts/CircularStd-Black.eot');
    src: url("/assets/fonts/CircularStd-Black.woff") format('woff'), url("/assets/fonts/CircularStd-Black.ttf") format('truetype');
}

/* "CircularStd BlackItalic" */
@font-face {
	font-family: "CircularStd";
	font-style: italic;
	font-weight: 700;
    src: url('/assets/fonts/CircularStd-BlackItalic.eot');
    src: url("/assets/fonts/CircularStd-BlackItalic.woff") format('woff'), url("/assets/fonts/CircularStd-BlackItalic.ttf") format('truetype');
}
