body,
html
{
    margin: 0;
    height: 100%;
    width: 100%;
}

body
{
	font-weight: config( "font-weight", 300 );
    font-family: config( "font-style", "Arial" );
    background-color: config( "background", rgb( var(--color-light) ) );
    color: config( "color", rgb( var(--color-dark) ) );
}

*, ::after, ::before {
    box-sizing: border-box;
}

img
{
    max-height: 100%;
    max-width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li
    {
        margin: 0;
        padding: 0;
    }
}

button
{
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

input
{
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

textarea
{
    font-family: inherit;
    font-size: inherit;
    letter-spacing: normal;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
