:root
{
    --button-background-color: var(--color-gray);
    --button-foreground-color: var(--color-gray-foreground);
    --button-secondary-color: var(--color-gray-foreground);
    --button-border-color: var(--color-gray);
}

.btn
{
    border: 1px solid rgb(var(--button-border-color));
    background-color: rgb(var(--button-background-color));
    color: rgb(var(--button-foreground-color));
    box-sizing: border-box;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
    display: inline-block;
    transition: .25s;

    // Soft button
    &.btn-soft
    {
        border-color: transparent;
        background-color: rgba(var(--button-background-color), 0);
        color: rgb(var(--button-secondary-color));

        &:hover
        {
            background-color: rgba(var(--button-background-color), .5);
        }

        .btn-active,
        &:active
        {
            background-color: rgba(var(--button-background-color), .75);
        }
    }

    // Button Action
    &.btn-action
    {
        border-color: transparent;
        background-color: rgba(var(--button-background-color), .5);
        color: rgb(var(--button-secondary-color));

        .btn-active,
        &:active
        {
            background-color: rgba(var(--button-background-color), .6);
        }
    }

    // Rounded button
    &.btn-rounded
    {
        border-radius: 2.5rem;
        min-width: 40px;
    }

	// Loading state
	&.btn-loading
	{
		position: relative;
		color: transparent;

		&:before,
		&:after
		{
			position: absolute;
			z-index: 999999;
			content: "";
			left: 0;
			top: 0;
		}

		&:before
		{
			background: rgba(255, 255, 255, .3);
			border-radius: inherit;
			left: -1px;
			right: -1px;
			bottom: -1px;
			top: -1px;
		}

		&:after
		{
			display: inline-block;
			width: 30px;
			height: 30px;
			top: calc(50% - (34px / 2));
			margin: 0 calc(50% - (34px / 2));
			border: 4px solid rgb(var(--button-foreground-color));
			border-radius: 50%;
			animation: btn-loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			animation-delay: -0.40s;
			border-color: rgb(var(--button-foreground-color)) transparent transparent transparent;
		}
	}
}

.btn-small
{
    font-size: 14px;
    padding: 6px 8px;
}

.btn-large
{
    padding: 14px 18px;
}

.btn-block
{
    display: block;
    width: 100%;
}

@include colors() using ( $color, $value )
{
    .btn-#{$color}
    {
        --button-background-color: #{"var(--color-" + $color + ")"};
        --button-foreground-color: #{"var(--color-" + $color + "-foreground)"};
        --button-secondary-color: #{"var(--color-" + $color + ")"};
        --button-border-color: #{"var(--color-" + $color + ")"};
    }
}

@keyframes btn-loading-ring
{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
