 // Card
:root
{
    --card-background-color: var(--color-light);
    --card-foreground-color: var(--color-light-foreground);
    --card-secondary-color: var(--color-gray);
}

.card
{
    box-shadow: rgba(var(--color-dark), .10) 0px 1px 1px 1px;
    background: rgb(var(--card-background-color));
    color: rgb(var(--card-foreground-color));
    box-sizing: border-box;
    border-radius: 3px;
	overflow: hidden;

    .card-content
    {
        padding: 15px;
    }

    &.card-soft
    {
        background-color: rgba(var(--card-background-color), .25);
        color: rgb(var(--card-foreground-color));
    }

    &.card-hover
    {
        color: rgb(var(--card-foreground-color));
        cursor: pointer;

        &:hover
        {
            box-shadow: rgba(var(--card-shadow-color), .15) 0px 6px 4px 0px, rgba(var(--card-shadow-color), .25) 0px 1px 8px 0px;
            color: rgb(var(--card-foreground-color));
            transition: .25s;
        }
    }
}

@include colors() using ( $color, $value )
{
    .card-#{$color}
    {
        --card-background-color: #{"var(--color-" + $color + ")"};
        --card-foreground-color: #{"var(--color-" + $color + "-foreground)"};
    }
}
