.container
{
    box-sizing: border-box;
    width: 940px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.container:after,
.clearfix
{
    content: "";
    display: table;
    clear: both;
}
