// Dropdown
.dropdown
{
    position: relative;
    display: inline-block;

    span
    {
        cursor: pointer;
    }

    &.active
    {
        .dropdown-content
        {
            display: block;
        }
    }

    .dropdown-content
    {
        border: 1px solid rgba(var(--color-dark), .05);
        box-shadow: rgba(var(--color-dark), .05) 0px 3px 3px -2px, rgba(var(--color-dark), .025) 0px 1px 8px 0px;
        background-color: rgb(var(--color-light));
        color: rgb(var(--color-light-foreground));
        box-sizing: border-box;
        border-radius: 5px;
        position: absolute;
        display: none;
        top: calc(100% + 10px);
        max-width: 100%;
        min-width: 200px;
        z-index: 10;

        .list
        {
            display: block;
            padding: 12px 0;

            .list-item
            {
                display: block;

                a
                {
                    color: rgba(var(--color-dark), .5);
                    cursor: pointer;
                    display: block;
                    padding: 8px 12px;

                    &:hover
                    {
                        background-color: rgb(var(--color-gray));
                        color: rgb(var(--color-dark));
                    }
                }
            }
        }

        &.dropdown-center
        {
            left: 50%;
            transform: translate(-50%, 0);

            &:before,
            &:after
            {
                left: 50%;
            }
        }

        &.dropdown-right
        {
            right: -10px;

            &:before
            {
                right: 10px;
            }

            &:after
            {
                right: 11px;
            }
        }

        &.dropdown-left
        {
            left: -10px;

            &:before
            {
                left: 10px;
            }

            &:after
            {
                left: 11px;
            }
        }

        // Arrow
        &:before,
        &:after
        {
            bottom: 100%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:before
        {
            border-bottom-color: rgba(var(--color-dark), .05);
            border-width: 11px;
            margin-left: -11px;
        }

        &:after
        {
            border-bottom-color: rgb(var(--color-light));
            border-width: 10px;
            margin-left: -10px;
        }
    }
}
