// Footer
.footer
{
    border-top: 1px solid rgb(var(--color-gray));
    background-color: rgb(var(--color-light));
    color: rgb(var(--color-dark));

    a
    {
        color: rgba(var(--color-dark), .5);

        &:hover
        {
            color: rgb(var(--color-dark));
        }
    }

    .footer-content
    {
        padding: 15px;
    }

    .container
    {
        .footer-content
        {
            padding: 15px 0;
        }
    }

    .footer-list
    {
        display: block;

        .list-item
        {
            display: block;
            padding: 6px;
        }
    }

    .copyrights
    {
        border-top: 1px solid rgb(var(--color-gray));
        padding: 15px 0;
    }
}
