.form-group
{
	.form-label
	{
		font-weight: 600;
		display: block;
	}
}

.form-control
{
    border: 2px solid rgb(var(--color-gray));
    background: rgb(var(--color-light));
    color: rgb(var(--color-light-foreground));
    border-radius: 5px;
    padding: 12px;
    width: 100%;
}
