// Hero
:root
{
    --hero-background-color: var(--color-gray);
    --hero-foreground-color: var(--color-gray-foreground);
    --hero-border-color: var(--color-dark);
}

.hero
{
    background-color: rgb(var(--hero-background-color));
    color: rgb(var(--hero-foreground-color));

    &.hero-soft
    {
        background-color: rgba(var(--hero-background-color), .25);
        color: rgb(var(--hero-foreground-color));
    }

    &.hero-rounded
    {
        border-radius: 5px;
    }
}

@include colors() using ( $color, $value )
{
    .hero-#{$color}
    {
        --hero-background-color: #{"var(--color-" + $color + ")"};
        --hero-foreground-color: #{"var(--color-" + $color + "-foreground)"};
    }
}
