:root
{
    --nav-background-color: var(--color-light);
    --nav-foreground-color: var(--color-dark);
    --nav-border-color: var(--color-gray);
}

nav.nav-top
{
    box-shadow: rgba(var(--card-shadow-color), .05) 0px 3px 3px -2px, rgba(var(--card-shadow-color), .025) 0px 3px 4px 0px, rgba(var(--card-shadow-color), .025) 0px 1px 8px 0px;
    background-color: rgb(var(--nav-background-color));
    color: rgb(var(--nav-foreground-color));
    display: block;
    position: relative;

    .nav-branding
    {
        color: rgb(var(--nav-foreground-color));
        display: inline-block;
        padding: 12px 15px;
    }

    ul.nav-items
    {
        display: inline-block;
        margin: 0;

        li.nav-item
        {
            display: inline-block;
        }

        li.nav-button
        {
            display: inline-block;
            padding: 6px 5px;
        }

        a.nav-link
        {
            color: rgba(var(--nav-foreground-color), .5);
            padding: 16px 5px;
            display: block;

            &:hover
            {
                color: rgb(var(--nav-foreground-color));
            }

            &.router-link-exact-active,
            &.active
            {
                color: rgb(var(--nav-foreground-color));
                font-weight: 500;
            }
        }
    }

    .container
    {
        .nav-branding
        {
            margin: 0 -15px;
        }
    }

    &.nav-sticky
    {
        position: sticky;
        top: 0;
        z-index: 1002;
    }

    &.nav-transparent
    {
        background-color: transparent;
        box-shadow: none;
    }

    &.nav-rounded
    {
        border-radius: 5px;
    }
}

@include colors() using ( $color, $value )
{
    .nav-#{$color}
    {
        --nav-background-color: #{"var(--color-" + $color + ")"};
        --nav-foreground-color: #{"var(--color-" + $color + "-foreground)"};
    }

    .nav-#{$color}-inverted
    {
        --nav-background-color: #{"var(--color-" + $color + "-foreground)"};
        --nav-foreground-color: #{"var(--color-" + $color + ")"};
    }
}
