:root
{
    --nav-background-color: var(--color-light);
    --nav-foreground-color: var(--color-dark);
    --nav-shadow-color: var(--color-muted);
}


nav.nav-left
{
   	background-color: rgb(var(--nav-background-color));
    color: rgb(var(--nav-foreground-color));
    position: relative;

	.nav-branding
	{
		box-sizing: border-box;
		display: block;

		img, svg
		{
			height: 50px;
		}
	}

	ul.nav-list
	{
		display: block;
		overflow: hidden;
		margin: 0;
		padding: 0;

		li.nav-item
		{
			display: block;

			a.nav-link
			{
				color: rgba(var(--nav-foreground-color), .75);
				display: block;

				&:active,
				&:hover
				{
					color: rgb(var(--nav-foreground-color));
				}
			}

			.link-icon
			{
				color: rgba(var(--nav-foreground-color), 1);
				font-size: 22px;
				padding: 15px;
				width: 80px;
				text-align: center;
				display: inline-block;
			}

			.link-caption
			{
				display: inline-block;
				min-width: 140px;
			}
		}

		&.is-active
		{
			width: 100px;
		}
	}

	a,
    a:hover
    {
        text-decoration: none;
    }
}