:root
{
	--nav-background-color: var(--color-light);
	--nav-foreground-color: var(--color-dark);
	--nav-shadow-color: var(--color-muted);
}

nav.nav-top
{
	box-shadow: rgba(var(--nav-shadow-color), .25) 0px 3px 3px -2px;
	background-color: rgb(var(--nav-background-color));
	color: rgb(var(--nav-foreground-color));
	position: relative;

	.nav-branding
	{
		color: rgb(var(--nav-foreground-color));
		display: inline-block;
		padding: 0 15px;

		h1
		{
			padding: 12px 0;
		}
	}

	ul.nav-list
	{
		display: inline-block;
		margin: 0;
		padding: 0;

		li.nav-item
		{
			display: inline-block;
		}

		li.nav-button
		{
			display: inline-block;
			padding: 6px 5px;
		}

		a.nav-link
		{
			color: rgba(var(--nav-foreground-color), .5);
			padding: 12px 12px;
			display: block;

			&:hover
			{
				color: rgb(var(--nav-foreground-color));
			}

			&.router-link-exact-active,
			&.active
			{
				color: rgb(var(--nav-foreground-color));
				font-weight: 500;
			}
		}
	}

	.container
	{
		.d-flex
		{
			margin: 0 -15px;
		}
	}

	&.nav-sticky
	{
		position: sticky;
		top: 0;
		z-index: 1002;
	}

	&.nav-transparent
	{
		background-color: transparent;
		box-shadow: none;
	}

	&.nav-rounded
	{
		border-radius: 5px;
	}

	a,
	a:hover
	{
		text-decoration: none;
	}
}

@include colors() using ( $color, $value )
{
	.nav-#{$color}
	{
		--nav-background-color: #{"var(--color-" + $color + ")"};
		--nav-foreground-color: #{"var(--color-" + $color + "-foreground)"};
	}

	.nav-#{$color}-inverted
	{
		--nav-background-color: #{"var(--color-" + $color + "-foreground)"};
		--nav-foreground-color: #{"var(--color-" + $color + ")"};
	}
}
