[class*="tooltip-"] {
    cursor: pointer;
    position: relative;
    display: inline-block;
    /**
	 * tooltip arrow
	 */
    /**
	 * tooltip body
	 */
}
[class*="tooltip-"]:before,
[class*="tooltip-"]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms;
}
[class*="tooltip-"]:hover:before,
[class*="tooltip-"]:hover:after {
    visibility: visible;
    opacity: 1;
}
[class*="tooltip-"]:hover:before,
[class*="tooltip-"]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
}
[class*="tooltip-"]:before {
    content: "";
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[class*="tooltip-"]:after {
    background: rgba(0, 0, 0, .8);
    font-weight: 700;
    border-radius: 3px;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
}
[class*="tooltip-"][aria-label]:after {
    content: attr(aria-label);
}
[class*="tooltip-"][data-hint]:after {
    content: attr(data-hint);
}

[aria-label=""]:before,
[aria-label=""]:after,
[data-hint=""]:before,
[data-hint=""]:after {
    display: none !important;
}

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) tooltip-top
 * 	2) tooltip-bottom
 * 	3) tooltip-left
 * 	4) tooltip-right
 */
/**
 * set default color for tooltip arrows
 */
.tooltip-top-left:before {
    border-top-color: rgba(0, 0, 0, .8);
}

.tooltip-top-right:before {
    border-top-color: rgba(0, 0, 0, .8);
}

.tooltip-top:before {
    border-top-color: rgba(0, 0, 0, .8);
}

.tooltip-bottom-left:before {
    border-bottom-color: rgba(0, 0, 0, .8);
}

.tooltip-bottom-right:before {
    border-bottom-color: rgba(0, 0, 0, .8);
}

.tooltip-bottom:before {
    border-bottom-color: rgba(0, 0, 0, .8);
}

.tooltip-left:before {
    border-left-color: rgba(0, 0, 0, .8);
}

.tooltip-right:before {
    border-right-color: rgba(0, 0, 0, .8);
}

/**
 * top tooltip
 */
.tooltip-top:before {
    margin-bottom: -12px;
}

.tooltip-top:before,
.tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

.tooltip-top:before {
    left: calc(50% - 6px);
}

.tooltip-top:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-top:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-top:hover:after {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
}

/**
 * bottom tooltip
 */
.tooltip-bottom:before {
    margin-top: -12px;
}

.tooltip-bottom:before,
.tooltip-bottom:after {
    top: 100%;
    left: 50%;
}

.tooltip-bottom:before {
    left: calc(50% - 6px);
}

.tooltip-bottom:after {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.tooltip-bottom:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-bottom:hover:after {
    -webkit-transform: translateX(-50%) translateY(8px);
    -moz-transform: translateX(-50%) translateY(8px);
    transform: translateX(-50%) translateY(8px);
}

/**
 * right tooltip
 */
.tooltip-right:before {
    margin-left: -12px;
    margin-bottom: -6px;
}

.tooltip-right:after {
    margin-bottom: -14px;
}

.tooltip-right:before,
.tooltip-right:after {
    left: 100%;
    bottom: 50%;
}

.tooltip-right:hover:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
}

.tooltip-right:hover:after {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
}

/**
 * left tooltip
 */
.tooltip-left:before {
    margin-right: -12px;
    margin-bottom: -6px;
}

.tooltip-left:after {
    margin-bottom: -14px;
}

.tooltip-left:before,
.tooltip-left:after {
    right: 100%;
    bottom: 50%;
}

.tooltip-left:hover:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
}

.tooltip-left:hover:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
}

/**
 * top-left tooltip
 */
.tooltip-top-left:before {
    margin-bottom: -12px;
}

.tooltip-top-left:before,
.tooltip-top-left:after {
    bottom: 100%;
    left: 50%;
}

.tooltip-top-left:before {
    left: calc(50% - 6px);
}

.tooltip-top-left:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.tooltip-top-left:after {
    margin-left: 12px;
}

.tooltip-top-left:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-top-left:hover:after {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px);
}

/**
 * top-right tooltip
 */
.tooltip-top-right:before {
    margin-bottom: -12px;
}

.tooltip-top-right:before,
.tooltip-top-right:after {
    bottom: 100%;
    left: 50%;
}

.tooltip-top-right:before {
    left: calc(50% - 6px);
}

.tooltip-top-right:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.tooltip-top-right:after {
    margin-left: -12px;
}

.tooltip-top-right:hover:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-top-right:hover:after {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

/**
 * bottom-left tooltip
 */
.tooltip-bottom-left:before {
    margin-top: -12px;
}

.tooltip-bottom-left:before,
.tooltip-bottom-left:after {
    top: 100%;
    left: 50%;
}

.tooltip-bottom-left:before {
    left: calc(50% - 6px);
}

.tooltip-bottom-left:after {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.tooltip-bottom-left:after {
    margin-left: 12px;
}

.tooltip-bottom-left:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-bottom-left:hover:after {
    -webkit-transform: translateX(-100%) translateY(8px);
    -moz-transform: translateX(-100%) translateY(8px);
    transform: translateX(-100%) translateY(8px);
}

/**
 * bottom-right tooltip
 */
.tooltip-bottom-right:before {
    margin-top: -12px;
}

.tooltip-bottom-right:before,
.tooltip-bottom-right:after {
    top: 100%;
    left: 50%;
}

.tooltip-bottom-right:before {
    left: calc(50% - 6px);
}

.tooltip-bottom-right:after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.tooltip-bottom-right:after {
    margin-left: -12px;
}

.tooltip-bottom-right:hover:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-bottom-right:hover:after {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) tooltip-small
 * 	2) tooltip-medium
 * 	3) tooltip-large
 *
 */
.tooltip-small:after,
.tooltip-medium:after,
.tooltip-large:after {
    white-space: normal;
    line-height: 1.4em;
    word-wrap: break-word;
}

.tooltip-small:after {
    width: 80px;
}

.tooltip-medium:after {
    width: 150px;
}

.tooltip-large:after {
    width: 300px;
}

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */
[class*="tooltip-"] {
    /**
	 * tooltip body
	 */
}
[class*="tooltip-"]:after {
    text-shadow: 0 -1px 0px black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 * 	1) tooltip-active
 *
 */
.tooltip-active:after,
.tooltip-active:before {
    opacity: 1;
    visibility: visible;
}

.tooltip-active.tooltip-top:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-active.tooltip-top:after {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
}

.tooltip-active.tooltip-top-left:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-active.tooltip-top-left:after {
    -webkit-transform: translateX(-100%) translateY(-8px);
    -moz-transform: translateX(-100%) translateY(-8px);
    transform: translateX(-100%) translateY(-8px);
}

.tooltip-active.tooltip-top-right:before {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-active.tooltip-top-right:after {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px);
}

.tooltip-active.tooltip-bottom:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-active.tooltip-bottom:after {
    -webkit-transform: translateX(-50%) translateY(8px);
    -moz-transform: translateX(-50%) translateY(8px);
    transform: translateX(-50%) translateY(8px);
}

.tooltip-active.tooltip-bottom-left:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-active.tooltip-bottom-left:after {
    -webkit-transform: translateX(-100%) translateY(8px);
    -moz-transform: translateX(-100%) translateY(8px);
    transform: translateX(-100%) translateY(8px);
}

.tooltip-active.tooltip-bottom-right:before {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-active.tooltip-bottom-right:after {
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    transform: translateY(8px);
}

.tooltip-active.tooltip-left:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
}

.tooltip-active.tooltip-left:after {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px);
}

.tooltip-active.tooltip-right:before {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
}

.tooltip-active.tooltip-right:after {
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    transform: translateX(8px);
}

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 * 	1) tooltip-rounded
 *
 */
.tooltip-rounded:after {
    border-radius: 4px;
}

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 * 	1) tooltip-no-animate
 * 	2) tooltip-bounce
 *
 */
.tooltip-no-animate:before,
.tooltip-no-animate:after {
    -webkit-transition-duration: 0ms;
    -moz-transition-duration: 0ms;
    transition-duration: 0ms;
}

.tooltip-bounce:before,
.tooltip-bounce:after {
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.tooltip-no-shadow:before,
.tooltip-no-shadow:after {
    text-shadow: initial;
    box-shadow: initial;
}
