$name: 'dark'; // Theme name

// Colors
$colors: (
    "primary": "30, 112, 235",
    "info": "30, 112, 235",
    "success": "67, 215, 135",
    "warning": "243, 179, 69",
    "danger": "242, 32, 46",

    "light": "14, 14, 14",
    "gray": "7, 7, 7",
    "muted": "77, 77, 77",
    "dark": "237, 233, 234",

    "steam": "27, 40, 56",
);

// Text colors
$text-colors: (
    "primary": "255, 255, 255",
    "info": "255, 255, 255",
    "success": "255, 255, 255",
    "warning": "255, 255, 255",
    "danger": "255, 255, 255",

    "light": "var(--color-dark)",
    "gray": "var(--color-dark)",
    "muted": "var(--color-dark)",
    "dark": "var(--color-light)",
    
    "steam": "255, 255, 255",
);

// Add theme
$themes: map-merge($themes, ($name: ('colors': $colors, 'text-colors': $text-colors)));
